@charset "UTF-8";

* {
  text-align: center;
  margin: 15px auto;
}

p {
  font-size: 120%;
}

p#result {
  font-size: 200%;
}

button {
  font-size: 150%;
  margin: 0 auto;
}

button#madeInHeaven, p#descriptionMadeInHeaven {
  display: none;
}

table {
  margin: 0px 0 0 0 auto;
}

tr {
  font-size: 200%;
}

td {
  padding: 10px 20px;
}
